body{
	background-image:url(../images/coffee-beans-926837_1280.jpg);
	min-height:100vh;
}
#skchdiv{
	background-image:url(../images/jute-2533318_640.jpg);
	color:blanchedalmond;
}
#navdiv{
	background-color:rgb(0, 0, 0, 0.6);
}