body{
	background-image:url(../images/paper-1332013_1280.jpg);
	background-size:cover;
}
#skchdiv{
	background-image:url(../images/papertexture-2061709_640.jpg);
	background-size:cover;
	background-repeat: repeat-y;
	width:80%;
	margin:15vh auto 0px auto;
	border:2px solid #331a00;
	padding-left: 6px;
	min-height:80vh;
	box-shadow:8px 8px rgba(51, 26, 0, 0.4);
	color:#331a00;
	font-family: 'Delius', cursive;
	font-size:45px;
}
#skch{
	font-family: 'Delius', cursive;
	font-size:30px;
	white-space: pre-wrap;
}
#navdiv{
	min-height:10vh;
	background-color:rgba(0, 0, 0, 0.4);
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
}
#writebu, #printbu, #deletebu{
	position:relative;
	width:30%;
	background-color:transparent;
	margin-left:1.5%;
	margin-right:1.5%;
	/*vertical-align: middle;*/
	top:2px;
	min-height:9vh;
	border-radius:5px;
	outline:none;
	border: 1px solid rgb(255, 253, 208);
	color: rgb(255, 253, 208);
	font-size:120%;
}
#writebu:hover, #printbu:hover, #deletebu:hover{
	background-color:rgba(255, 255, 255, 0.2);
}