body{
		background-image: url(../images/portrait.jpg);
		background-repeat: no-repeat;
		/*height:auto;*/
		background-size: cover;
		/*background-position: center auto;*/
		color:#331a00;
	}
	#entrydiv{
		width:75%;
		margin:10% auto 0 auto;
		font-size:150%;
		/*transform: rotate(-3deg);*/
	}
	#shtoken{
		visibility:hidden;
	}
	#fname, #lname, #pfname, #plname, #shtoken{
		background-color:transparent;
		border-style: hidden;
		border-bottom: 1px solid  #331a00;
	}
	#access_type{
		background-color:transparent;
		border-color:#331a00;
	}
	#writeButton, #introbu, #redirectbu{
		background-color:transparent;
		border-color:#331a00;
		/*color: rgb(255, 253, 208);;*/
	}
	#introbu, #redirectbu{
		margin-top:15%;
	}
	#introbu{
		margin-left:15%;
		width:30%;
		margin-right:4%;
	}
	#redirectbu{
		margin-right:15%;
		width:30%;
		margin-left:4%;
	}
	#introdiv{
		width:90%;
		position:fixed;
		/*margin:10% auto 0 auto;*/
		top:10%;
		right:5%;
		background-color: rgba(0, 0, 0, 0.7);
		border: 5px double rgb(14,7,3);
		border-radius: 10px;
		font-size: 100%;
		font-style: italic;
		color: rgb(255, 253, 208);
		z-index: 50;
		display: none;
	}
	#closebu{
		background-color: transparent;
		border: 1px solid #331a00;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		color: rgb(255, 253, 208);
	}
	#hiddendiv{
		left:0px;
		bottom:0px;
		position:absolute;
	}