	body{
		background-image: url(../images/smallest.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		color:#331a00;
		font-size:250%;
	}
	#entrydiv{
		width:60%;
		margin:10% auto 0 auto;
		transform: rotate(-3deg);
	}
	#shtoken{
		visibility:hidden;
	}
	#fname, #lname, #pfname, #plname, #shtoken{
		background-color:transparent;
		border-style: hidden;
		border-bottom: 1px solid  #331a00;
		outline: none;
	}
	#access_type{
		background-color:transparent;
		border-color:#331a00;
	}
	#writeButton{
		background-color:transparent;
		border-color:#331a00;
	}
	#introdiv{
		width:60%;
		position:fixed;
		/*margin:10% auto 0 auto;*/
		top:15%;
		right:20%;
		background-color: rgba(0, 0, 0, 0.7);
		border: 5px double rgb(14,7,3);
		border-radius: 10px;
		font-size: 50%;
		font-style: italic;
		color: rgb(255, 253, 208);
		z-index: 50;
		display: none;
		padding-left:5px;
	}
	#introbu, #redirectbu{
	}
	#introbu{
		margin-right:4px;
	}
	#redirect-bu{
		margin-left:4px;
	}
	#closebu, #introbu, #redirectbu{
		background-color: transparent;
		border: 1px solid #331a00;
		right:45%;
		/*margin-left:auto;
		margin-right:auto;*/
		color: rgb(255, 253, 208);
		border-radius:4px;
	}