#navdiv{
	background-color:rgb(0, 0, 0, 0.6);
}
#skchdiv{
	background-image:none;
	background-color: rgba(0, 0, 0, 0.6);
	color:blanchedalmond;
}
@media print, screen and (orientation:landscape) {
	body{
		background-image:url(../images/avenue-3464777_1280.jpg);
		min-height:100vh;
	}
}
@media screen and (orientation:portrait){
	body{
		background-image:url(../images/avenue_portrait.jpeg);
		min-height:100vh;
	}
}