body{
	background-color: darkslategrey;
	background-image: linear-gradient(45deg, rgb(50, 50, 50), rgb(100, 100, 100));
	color:blanchedalmond;
	min-height:100vh;
	margin-top:0px;
	margin-bottom:0px;
}
#writespace{
	background-color: transparent;
	width:80%;
	resize: none;
	outline: none;
	min-height: 60vh;
	border:1px solid blanchedalmond;
	color:blanchedalmond;
}
#skchtitle{
	border-bottom: 1px solid blanchedalmond;
	width:80%;
}
#skchlink{
	font-size:80%;
	font-style: italic;
}
#skchlink2{
	color:blanchedalmond;
	background-color: rgba(0, 0, 0, 0.2);
	border:1px solid blanchedalmond;
	outline:none;
	min-width:70%;
	padding-left: 3px;
	font-size:115%;	
}
#copybu, #printbu, #chgview, #cancelbu, #savebu{
	background-color: rgba(0, 0, 0, 0.4);
	border:1px solid blanchedalmond;
	outline: none;
	color: blanchedalmond;
	font-size:115%;
}
#printbu, #chgview{
	border-radius:2px;
	padding-left:15px;
	padding-right:15px;
}
#cancelbu, #savebu{
	position: fixed;
	border-radius: 2px;
	top: 75vh;
	/*display:inherit;*/
}
#cancelbu{
	width:8vw;
	left:30vw;
}
#savebu{
	width:8vw;
	left:40vw;
}
#fontname, #themename{
	position: fixed;
	background-color:transparent;
	border-color:blanchedalmond;
	border-radius:2px;
	color:blanchedalmond;
	left:30vw;
	outline:none;
	/*display:inherit;*/
}
#fontname{
	top:50vh;
}
#themename{
	top:25vh;
}
option{
	background-color:rgb(50, 50, 50);
}
#fontimg, #themeimg{
	position: fixed;
	width: 20vw;
	height: 20vh;
	border:1px solid blanchedalmond;
	box-sizing: border-box;
	border-radius: 2px;
	right:30vw;
	border-color:blanchedalmond;
	/*display: inherit;*/
}
#themeimg{
	top:20vh;
}
#fontimg{
	top:45vh;
}
#copybu:hover, #printbu:hover, #chgview:hover, #cancelbu:hover, #savebu:hover{
	background-color: rgba(0, 0, 0, 0.1);
	color:cornsilk;
	border-color:cornsilk;
}
#shareinfo{
}
#fontspan, #themespan{
	position: fixed;
	left:30vw;
	/*display:inherit;*/
}
#fontspan{
	top:45vh;
}
#themespan{
	top:20vh;
}
#advancedSet{
	width: 50vw;
	height: 70vh;
	position: fixed;
	top: 15vh;
	left: 25vw;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.6);
	/*display:none;*/
	border-radius: 3px;
	margin-left: 2vw;
}
